<div class="beerPlaceholder">
  {{#each beers}}
    <div class="beer-img"><img src="{{image_url}}"></div> 
    <div class="beer-name">{{name}}</div>
    <div class="beer-tagline">{{tagline}}</div>
    <div class="beer-discription">{{description}}</div>
    {{/each}}
</div>
    {{!-- <div class="beer-ingredient">{{ingredients}}</div>
    <div class="beer-method">{{method}}</div> --}}
    
    {{!-- <div class="beer-firstbrewed">{{firstbrewed}}</div>
    <div class="beer-discription">{{discription}}</div>
    <div class="beer-contributed">{{contributed_by}}</div>
    <div class="beer-tips">{{brewers_tips}}</div> --}}
  
