{{!-- <div class="beerPlaceholder">
  {{#each beers}}
    <div class="beer-img">{{image_url}}</div> 
    <div class="beer-name">{{name}}</div>
    <div class="beer-ingredient">{{ingredients}}</div>
    <div class="beer-method">{{method}}</div>
    <div class="beer-tagline">{{tagline}}</div>
    <div class="beer-firstbrewed">{{firstbrewed}}</div>
    <div class="beer-discription">{{discription}}</div>
    <div class="beer-contributed">{{contributed_by}}</div>
    <div class="beer-tips">{{brewers_tips}}</div>
  {{/each}}
</div> --}}
{{> beerPartial }}
<div class="checkBeer">
    <button type="button" onclick= "window.location.href='/beers'" >Check the beers!</button> 
</div>

<div class="randomBeer">
    <button type="button" onclick= "window.location.href='/randombeer'"> Check a random beer</button>
</div>